* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: azure;
}


body {
    header#site-header {
        height: 25px;

    }
    main {
        margin: auto;
        margin-top: 60px;
        max-width: 80%;

        /* home page */
        .container {
            .row {
                .card {
                    height: 350px;
                    display: flex;
                    align-items: center;
                    border-radius: 6%;
                    .row {
                        height: 50%;
                        img {
                            height: 150px;
                            width: 300px;
                            background-color: rgb(3, 19, 32);
                            color:beige;
                            border-radius: 6%;

                            
                        }
                        .card-caption {
                            font-size: 80%;

                        }
                        
                    }
                    a.btn {
                        font-size: smaller;
                        margin-bottom: 5px;
                        background-color: rgb(153, 207, 37);
                        color: rgb(13, 13, 16);
                        border:  2px solid black;
                        overflow: none;

                    }
                    .btn:hover {
                        background-color: rgb(143, 133, 147);
                    }
                }
            }
        }

        /* about page */
    }
    
}