* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color:rgb(172, 172, 174)
    
    
}


body {
    header#site-header {
        height: 25px;

    }
    main {
        margin: auto;
        margin-top: 60px;
        max-width: 80%;

        /* home page */
        .container {
            .row {
                .card {
                    height: 350px;
                    display: flex;
                    align-items: center;
                    border-radius: 6%;
                    margin-bottom: 2%;
                    background-color:rgb(26, 25, 25);
                    color:black;
                    border: 2px solid black;
                    
                    

                    .row {
                        height: 50%;
                        img {
                            height: 120px;
                            width: 300px;
                            background-color: rgb(3, 19, 32);
                            color:rgb(184, 184, 111);
                            border-radius: 6%;
                            

                            
                        }
                        a{
                            text-decoration: none;
                            color: black;


                        }
                        a:hover{
                            color:rgb(78, 9, 181);
                            text-decoration: underline rgb(212, 209, 207);
                    
                        }
                        
                        .card-caption {
                            font-size: 80%;

                        }
                        
                        
                    }
                    a.btn {
                        font-size: smaller;
                        margin-bottom: 5px;
                        background-color: rgb(153, 207, 37);
                        color: rgb(13, 13, 16);
                        border:  2px solid black;
                        overflow: none;
                        margin-top: 20px;

                    }
                    .btn:active {
                        background-color: rgb(33, 32, 32);
                        color: aliceblue;
                    }
                }
            }
        }

        /* about page */
    }
    
}
.del{
    color: rgb(18, 27, 34);
    background-color: rgb(238, 226, 226);
    width: 200px;
    border-radius: 4px solid black;
    size: 20px;


}