{% extends 'base.html' %}
{% load static %}
{% block title %}
{{user}}'s Cart

{% endblock %}

{% block content %}

<div class="container-fluid">
    {% if items %}

    <table class="table">
        <thead>
            <th>
                id
            </th>
            <th>
             thubnail
            </th>
            <th>
                Product
            </th>
            <th>
                Price
            </th>
            <th>
                Quantity
            </th>
            <th>
                Sub Total
            </th>
            <th>
    
            </th>
        </thead>
        <tbody>
            {% for item in items %}
            <tr class="h-10" id="cart-item-{{item.id}}">
                <td>{{item.id}}</td>
                <td>
                    
                        <img src="{{item.product.img.url}}" style="height:20px;" alt="An image of {{item.product.name}}">
                    
                </td>
            
                <td>
                    {{item.product.name }}
                </td>
                <td>
                    {{item.product.price}}
                </td>
                <td class="grid">
                    <div class="row w-100">            
                    <button onclick="updateCart('{% url 'rem_quantity' item.id %}', {{ item.id }}, false, '{{ csrf_token }}')" class="btn btn-outline-secondary col align-middle">
                        -
                    </button>
                        <p id="quantity-{{ item.id }}" class="col align-middle text-center">{{item.quantity}}</p>

                    <button onclick="updateCart('{% url 'add_quantity' item.id %}', {{ item.id }}, true, '{{ csrf_token }}')" class="btn btn-outline-secondary col align-middle">+</button>
                    </div>
                </td>
                <td id="total-price-{{ item.id }}">
                    {{item.get_total}}
                </td>
                <td class ="rem">
                    <a href="{% url 'rem_from_cart' item.id %}" class="btn btn-danger">Remove</a>
                </td>
            </tr>
            {% endfor %}
            <tr>
                <th colspan="4" class="text-center text-warning bg-dark">Total</th>
                <td class="bg-secondary"><strong>Rs.<span id="overall-total">{{ total }}</span></strong></td>
                <td style="margin-right: 10%;"><a href="{% url 'create_order' %}" class="btn btn-primary"> Order your coffee</a></td>
            </tr>
        </tbody>
    </table>
    
    {% else %}
    <h5>Your cart is empty!!!</h5>
    {% endif %}
    <a href="{% url 'homepage' %}" class="btn btn-primary">Shop More!!!</a>
</div>

{% endblock %}