
{% extends 'base.html' %}
{% load static %}
{% block title %}
Register
{% endblock %}

{% block content %}
<div class="container d-flex justify-content-center align-items-center min-vh-80">
    <div class="card shadow p-4">
        <h2 class="mb-4 text-center">
            Register
        </h2>
        <form method="post">
            {% csrf_token %}
            {% for field in form %}
            <div class="mb-3">
                <label for="{{field.id_for_label}}" class="form-label">{{field.label}}</label>
                {{field}} <!-- This renders out to become input field -->

                {% if field.errors %}
                <div class="text-danger small">
                    {{field.errors | striptags }}
                </div>
                {% endif %}
            </div>
            {% endfor %}
            <button class="btn btn-primary" type="submit">Register</button>
        </form>
    </div>

</div>
{% endblock %}
